*{
    margin: 0.5px;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100%;
    width: 100%;
    padding: 0 8%;
    background: #ffffff;
}

/* Style for logo */
img {
    width: 300px;
    height: 200px;
}

/* Style for navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 33%;
}

.navigation-links {
    padding: 40px 0;
}

.navigation-links li {
    font-family: sans-serif; 
    display: inline-block;
    margin: 0 15px; 
}

.navigation-links li a {
    text-decoration: none;
    font-size: 20px;
    color:black;
    padding: 5px 0;
    position: relative;
}

.navigation-links li a::after {
    content: '';
    background: #ff0000;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.navigation-links li a:hover::after {
    width: 100%;
}

/* Style for header */
.info h1 {
    font-family: "Geneva", sans-serif;    
    position: relative;
    left: 50%;
    top: 65px;
    width: 95%;
    max-width: 950px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}

/* Style for text */
.info p {
    font-family: sans-serif; 
    position: relative;
    line-height: 1.5;
    left: 50%;
    top: 125px;
    width: 80%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 20px;
}

/* Style for drop down */
select {
    font-family: sans-serif; 
    position: relative;
    background-color: rgb(234, 245, 245);
    left: 0%;
    top: 125px;
    width: 55%;
    max-width: 550px;
    text-align: left;
    font-size: 20px;
}

div {
    font-family: sans-serif; 
    font-size: 18px;
    transform: translateY(80);
}

.genre , .blank , .score , .scoreRange, .episodes , .episodeRange, .title-genre , .title-score , .title-episode , .title-synopsis {
    font-family: sans-serif; 
    position: relative;
    left: 0%;
    top: 150px;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    font-size: 20px;
}

/* Style for line break */
.header hr {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 8px;
    border-top: 5px solid black;
}

button {
    background-color: rgb(25, 168, 156);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
  
button:hover {
    background-color: rgb(10, 97, 87);
}