*{
    margin: 0.5px;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100%;
    width: 100%;
    padding: 0 8%;
    background: #ffffff;
}

/* Style for logo */
img {
    width: 300px;
    height: 200px;
}


/* Style for navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-links {
    padding: 40px 0;
}

.navigation-links li {
    font-family: sans-serif; 
    display: inline-block;
    margin: 0 15px; 
}

.navigation-links li a {
    text-decoration: none;
    font-size: larger;
    color:#727474;
    padding: 5px 0;
    position: relative;
}

.navigation-links li a::after {
    content: '';
    background: #ff0000;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.navigation-links li a:hover::after {
    width: 100%;
}

.header hr {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 8px;
    border-top: 5px solid black;
}

.results h1{
    top: 40px;
    font-size: 38px;
}

.results h3{
    top:60px;
    font-size: 28px;
}
 
.results p{
    top:70px;
    font-size:22px;
}

.results table{
    top:74px;
    font-size:22px;
}

.results table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1px;
}