<!Doctype html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>Data Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datapage.css') }}" />
    </head>

    <body>
        <div class = "header">
            <nav>
                <img src="{{ url_for('static', filename='logocs.jpg') }}" alt="Anime Finder Logo">
                <ul class="navigation-links">
                    <li><a href="/home/" class="ActiveHome">Home</a></li>
                    <li><a href="/about/" class="ActiveAbout">About The Page</a></li>
                    <li><a href="/data/"class="ActiveSources">Data Source</a></li>
                </ul>
            </nav>  
            <hr>
            <div class = "info">
                <h1>About The Data Used</h1>
                <table>
                    <!--Table row with headers-->
                    <tr>
                        <th>Where To Find The Data</th>
                        <th>What Does It Contain</th>
                        <th>Data Categories Used</th>
                        <th>Modifications</th>
                        <th>Limitations of Data</th>
                        <th>Licensing</th>
                        <th>Author</th>
                    </tr>
                    <!--Table row with data-->
                    <tr>
                        <td>Dataset from <a href="https://www.kaggle.com/datasets/marlesson/myanimelist-dataset-animes-profiles-reviews">kaggle</a></td>
                        <td>Various Anime Titles (16k), Reviews (130k) and Profiles (47k) from <a href="https://myanimelist.net/">https://myanimelist.net/</a></td>
                        <td>Title of the anime, genre, number of episodes, scores, and synopsis</td>
                        <td>We removed the following categories: Identification code of the anime, the popularity of the anime, and the amount of followers each anime has. We also removed brackets within the genre column and got rid of duplicates</td>
                        <td>Last updated 01/05/2020. It does not include anime that were released after this date</td>
                        <td>Click <a href="https://www.kaggle.com/datasets/marlesson/myanimelist-dataset-animes-profiles-reviews">here</a> and go towards the bottom of the site in a section labeled "License." It's a Public Domain (free to use)</td>
                        <td>Marlesson Santana</td>
                    </tr>
                </table>
            </div>
        </div>  
    </body>
</html>