<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error.css') }}" />
    </head>
    <body>
        <div class="error">
            <h1>Please Check To Make Sure That Your Input Is Valid.</h1>
            <p>We were not able to find the information you requested.</p>
            <button id="submit-btn"><a href="/home/" class="ActiveHome"><a href="/home/" class="ActiveHome">Return To Home Page</a></a></button>
        </div>
    </body>
</html>